/*HEADER*/
/*Version PC*/
body{
    height:100%;
    font-size: 15px;
     margin: 0;
    padding: 0;
}
@font-face {
    font-family: miso-bold;
    src: url(../police/miso/miso-bold.ttf);
}
@font-face {
    font-family: miso-regular;
    src: url(../police/miso/miso-regular.ttf);
}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
.header{
    background-color:#F02A2A;
    color: #ffffff;
    height:247px;/*CSS AJOUTER*/
   
}
.mobile-icon{
    display: none;
}

.ecole-solidaire{
    padding-left:3rem;
}
.container-fluid .navigator .para1{
    border-bottom: 2px solid #FFFFFF; 
    color: #FFF121;
    display: inline-block;
    padding-bottom:0rem;
    font-family: miso-bold;
    font-size: 4.9rem;/*CHANGEMENT*/

}
.container-fluid .navigator .para2{
    padding-bottom:0;
    font-size: 3.2rem;
    font-family:miso-regular;
}
.container-fluid img{
    height: 15rem;
    padding-left: 6rem;
    padding: 0;
}
.container-fluid .navigator .ecole-solidaire.animate{
    -webkit-animation: alert 5s ease-out 1 normal;
    -moz-animation: alert 5s ease-out 1 normal;
    -ms-animation: alert 5s ease-out 1 normal;
    animation: alert 5s ease-out 1 normal;
}


.flex{
    display: flex;
}
.flex .savoir{
    padding:3rem;
    padding-right: 0;
    font-family:miso-regular;
    
    padding-bottom:0;
}
.savoir{
    font-size: 2.9rem;
    font-family: miso-regular;
    
}

.container-fluid .pouvoir{
    color: #FFF121;
}
.container{

    width:100%;
    margin-right: 0px;
    padding-right: 0px;

}

.main-menu{
    display: flex;
    justify-content: flex-end;
}
.main-menu ul{
    list-style: none;
    padding:1rem;
    margin: 0;
    background-color:#EBEBEB;
    border: 0px solid;
    border-radius:0 0 0 5rem;

}
.main-menu li{
   display: inline-block; 
   padding-left: 2rem;
}

    
/*CSS AJOUTER SOUS-MENU FAQ*/
/*.sub-menu{
    display:none;
    position: absolute;
    
}
.stricky-menu li:hover .sub-menu{
    display: inline-block;
}*/

/*CSS AJOUTER SOUS-MENU FAQ*/
.left ul:first-child{
    padding-left: 5rem;
}
.left ul:last-child{
    padding-right: 5rem;
}
.main-menu a{
    color:#F02A2A;
}
.left{
    float: right;
}
/*CSS DU CONTENUE PARAGRAPHE*/

p{
    text-align: justify;  
    padding-left: 2rem;
    padding-right: 2rem;
}
h1{
    font-style: normal;
    font-size: auto;
    font-family:miso-bold;
    margin-top: 2rem;
    text-align: center;
    color:#F02A2A;
   
}
.description {
    margin: 2rem 0;
}
.description-image {
    width: 23rem;
    height: 30rem;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 2rem;


}
.last-para{
    margin-bottom: 9rem;
}
/*FIN CSS DU CONTENUE PARAGRAPHE*/

/*BEBUT FOOTER*/

footer {
    width: 100%;
    text-align: left;
    background-color: #EBEBEB;
    line-height:7rem;
    bottom: 0;
    position:fixed;
}
footer ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
footer ul li {
    padding-left: 1rem;
    list-style: none;
    display: inline-block;
}
footer ul li img {
    height: auto;
    width: 4.5rem;
    margin: 0 0.5rem;
    display: inline-block;
}
footer .sirius {
    height: auto;
    width: 4.5rem;
    margin: 0 4rem;
    float: right;
}
/*FIN FOOTER CSS*/


/*VERSION MOBILE*/

@media only screen and (max-width:770px){
 .ecole-solidaire{
    padding-left:3rem;
}
.container-fluid .navigator .para1{
    border-bottom: 2px solid #FFFFFF; 
    color: #FFF121;
    display: inline-block;
    padding-bottom:0rem;
    font-family: miso-bold;
    font-size: 2rem;/*CHANGEMENT*/

}
.container-fluid .navigator .para2{
    padding-bottom:0;
    font-size: 3.2rem;
    font-family:miso-regular;
}
.container-fluid img{
    height: 11rem;
    padding-left: 6rem;
    padding: 0;
}
 .mobile-icon{
        font-size:2rem;
        display: inline-block;
        color: black;
        position: fixed;
        padding:1rem;
        cursor: pointer;
        z-index: 1000;

    }
   
    .main-menu{
     top: 10%;
     left: 13%;
     z-index: 1000;
     position: fixed;
     display: none;
     background-color:#EBEBEB;
    }
    
    .main-menu li{
        display:block;
        padding-left:0;
    }
    .main-menu  a{
        color:#F02A2A;
        padding: 0.5rem 1rem;
        display: block;
    }
    .main-menu a:hover{
        color:#F02A2A;
        background-color:#FFF121;
        text-decoration: none;
    }
    .left{
        float:none;
    }
     .left ul:first-child{
        padding-left:0;
    }
    .left ul:last-child{
        padding-right: 18rem;
    }
    /*CSS DU CONTENUE PARAGRAPHE*/
    .description{
        margin-bottom: 10rem;
    }
    .description h1{
        text-align: center;
       
        padding-bottom: 2rem;
        font-family: miso-bold;
        color: #F02A2A;
    }
    .description flotte{
        margin-top: 15px;
        margin-bottom: 0rem;
       
    }
    .description p{
        margin-top:2rem;
        padding: 0 1.5rem;
    }
    .prologue {
        text-align: center;
    }
    .prologue img{
        height:auto;
        width:80%;
        padding-left: 0;
       

    }
    /*FIN CSS DU CONTENUE PARAGRAPHE*/
/*CSS DU CONTENUE ACCUEIL*/
.content-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5rem;
}
.eds-description {
    max-width: 10rem;
    display: inline-block;
}
.eds-description img {
    height: auto;
    width: 100%;
    margin-bottom: 0.5rem;
   
}
.eds-description p {
    color: #3C3C3B;
    margin: 0;
}
.eds-description .titre {
    font-weight: 600;
}
.evenements {
    margin: 0 4rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
}
.evenements .eds {
    position: relative;
    margin-bottom: 4rem;
}
.evenements .eds::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 50%;
    height: 100%;
    width: 70%;
    transform: translateX(-50%);
    border-bottom: 1.3px solid #000000;
    opacity: 0.3;
}
.evenements .eds img {
    height: auto;
    width: 20.5rem;
    display: inline-block;
    vertical-align: bottom;
}
.evenements .eds .text {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.3rem;
    vertical-align: top;
}
.evenements .eds .text p {
    margin: 0;
}
.evenements .eds .text .titre {
    font-size: 1.7rem;
    font-weight: 600;
    color: #000000;
    position: relative;
    margin-bottom: 0.5rem;
}
.evenements .eds .text .titre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 11rem;
    border-bottom: 1.3px solid #000000;
    opacity: 0.3;
}
.evenements .eds .text .icon {
    display: inline-block;
    height: auto;
    width: 1.2rem;
    margin-right: 1rem;
    vertical-align: middle;

}
.evenements .eds .text .date {
    display: inline-block;
    color: #F02A2A;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.evenements .eds .text .adresse {
    color: #003192;
    font-weight: 600;
}
.evenements .eds .text .description {
    max-width: 15rem;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}
.evenements .eds .text .inscription-button {
    display: inline-block;
    text-align: center;
    color: #FFF121;
    background-color: #F02A2A;
    font-weight: 900;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
.evenements .eds .text .inscription-button:hover {
    text-decoration: none;
}
/*FIN DU CONTENUE ACCUEIL*/
    .main-menu ul{
        padding: 0;
        margin: 0;
        border: none;
        border-radius:0;
    }

    .container-fluid .navigator{
        font-size:1rem;
        padding-left:4rem;
    }

    .container-fluid .navigator .ecole-solidaire{
        padding-top:0;
    }
    .container-fluid .navigator .para1{
        border-bottom: 1px solid #FFFFFF; 
        color: #FFF121;
        display: inline-block;
        padding-bottom:0rem;
       font-family:miso-bold;
       font-size: 1.8rem;

    }
    .container-fluid .navigator .para2{
        padding-bottom:1rem;
        font-size:1.1rem;
        font-family:miso-regular;
        font-size: 1.3rem;
      
    }
    .container-fluid img{
        height:8rem;
    }
    .flex .savoir{
        padding: 1rem;
        padding-right: 0;
        font-family: miso-bold;
        font-size:1rem;
    }
    footer {
    width: 100%;
    text-align: left;
    background-color: #EBEBEB;
    line-height: 0rem;
    
}
    footer .sirius {
        border-top: 1px solid #707070;
        height: auto;
        width: 100%;
        margin: 0;
        float: none;
        text-align: center;
    }
}



